<h1 class="display-2 text-center"><%= @cocktail.name %></h1>

<h2> List of Ingredients </h2>

<ul>
  <% @cocktail.doses.each do |dose| %>
      <li> <%= dose.description %> of <%= dose.ingredient.name %>
      <%= link_to dose_path do %>
      <i class="fa fa-trash"></i>
      <% end  %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail.id), class: 'btn btn-secondary btn-sm' %>
