<h1 class="display-2 text-center" style="color: white; font-family: 'Dancing Script';">Add New Ingredient</h1>
<div class="container text-center" style="width: 30%; color: white">
<%= simple_form_for [@cocktail, @dose] do |f| %>
<% if @dose.errors.any? %>
<div class="alert alert-danger">
  <h4> You have errors that you need to correct</h4>
  <ul>
  <% @dose.errors.full_messages.each do |msg|  %>
    <li><%= msg %></li>
  <% end  %>
  </ul>
</div>

<% end %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= link_to 'Cancel', cocktail_path(@cocktail), class: 'btn btn-secondary' %>
  <%= f.submit class: 'btn btn-primary' %>

<% end %>
</div>
